<div class="col-sm-4">
    <!-- Account Panel Starts -->
    <div class="panel panel-smart">
        <div class="panel-heading">
            <h3 class="panel-title">
            Account Settings
            </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-user"></i> <a href="{% url my_account %}">My Account</a></li>
                <li class="list-group-item"><i class="fa fa-key"></i> <a href="{% url django.contrib.auth.views.password_change %}">Change Password</a></li>
                <li class="list-group-item"><i class="fa fa-credit-card"></i> <a href="{% url order_info %}">Edit Billing Information</a></li>
                <li class="list-group-item"><i class="fa fa-sign-out"></i> <a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- Account Panel Ends -->
</div>