{% extends "catalog.html" %}

{% load i18n %}

{% block content %}
   <div class="container user">
        <div class="row">
            <div class="span8">
            <h2>{% trans "Password Changed" %}</h2>
            <p>{% trans "Your password has been changed successfully." %}</p>
            <p><a href="{% url catalog_home %}">{% trans "Continue Shopping" %}</a></p>
        </div>

        <div class="span3 pull-right">
            <h3>{% trans "Account Settings" %}</h3>
            <p><strong>{% trans "Welcome," %} {{ name|capfirst }}</strong></p>
            <ul class="user-settings">
                <li><a href="{% url django.contrib.auth.views.password_change %}">{% trans "Change Password" %}</a></li>
                <li><a href="{% url order_info %}">{% trans "Edit Billing Information" %}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}